.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

h2 {
  color: hsl(0, 0%, 100%);
  margin: 25px;
}

p {
  color: hsl(215, 51%, 70%);
  margin: 25px;
}

hr {
  width: 80%;
  background-color: hsl(215, 32%, 27%);
  border-color: hsl(215, 32%, 27%);
}

.img-main {
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 25px;
}
.container {
  background-color: hsl(217, 54%, 11%);
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 325px;
  height: 600px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card {
  background-image: url("./images/image-equilibrium.jpg");
  background-size: 100%;
  border-radius: 15px;
  width: 275px;
  height: 275px;
}

.name {
  color: hsl(0, 0%, 100%);
}

.name:hover {
  cursor: pointer;
}

.eth {
  color: hsl(178, 100%, 50%);
  line-height: 18px;
}

.days {
  color: hsl(215, 51%, 70%);
  line-height: 18px;
}

.cost {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hr {
  display: flex;
  justify-content: center;
}

.img-avatar {
  display: flex;
  flex-direction: row;
}

.img-avatar p {
  margin-left: 9px;
}

.clock {
  border: none;
  margin-right: 5px;
}

.icon {
  border: none;
  margin-right: 5px;
}

.hover:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
